.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #D8C3A5;
  /* Header background color */
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

.header h1 {
  font-size: 24px;
  color: #333;
  /* Black text for the logo */
  font-family: 'Satisfy', cursive;
}

.header-icons button {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #333;
  /* Black icons */
}