/* LoginForm.css */
.login-form {
  width: 300px; /* Set a smaller width */
  margin-top: 100px; /* Increase the top margin to push the form down */
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto; /* Center the form horizontally */
  padding: 20px;
  background-color: #f5f5f5; /* Adjust colors as needed */
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 10px; /* Adjust the gap between form elements as needed */
}

.avatar-container {
  margin-bottom: 20px;
}

.avatar-container img {
  width: 120px; /* Adjust based on your actual avatar size */
  height: 120px;
  border-radius: 50%;
  background-color: #d8c3a5; /* Avatar background color */
  padding: 10px;
}

.form-container {
  width: 100%;
}

.form-container label {
  display: block;
  color: #333;
  margin-bottom: 5px;
}

.form-container input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
}

.login-button,
.signup-button {
  width: 100%;
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  background-color: #d8c3a5; /* Button background color */
  color: #333;
  margin-bottom: 10px;
  cursor: pointer;
}

.signup-button {
  background-color: #eae7dc; /* Slightly lighter color for the sign-up button */
}
