/* SignUpPage.css */
.signup-page {
  justify-content: center; /* Center vertically */
  align-items: center; /* Center horizontally */
  height: 100vh;
}

.create-user-button {
  /* ... other styles ... */
  margin-top: 20px; /* Adds space above the button */
}
